body{
    background-color: #9CEE59;
    color: black;
}

a{
    color: #999999;
}

#tabla{
    width: 980px;
    border: none;
    background-color: #509050;
    border-spacing: 0px;
    padding: 0px;
    margin: auto;
}

#tabla2{
    width: 940px;
    border: none;
    background-color: white;
    border-spacing: 0px;
    padding: 1px;
    color: black;
    margin: auto;
    text-align: center;
}

#sor2{
    height: 40px;
    background-color: black;
    color: white;
}

h1{
    text-align: left;
    text-shadow: red 3px 3px 5px; 
}

p{
    text-align: left;
    text-indent: 15px;
}

ul{
    text-align: left;
}

#gyom{
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1px black;
    margin: 2px;
}